/* TODO shorthand padding margin
elever les divers autour des <a> dans nav
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

:root {
  --blue: #0065fc; /* vars */
  --grey: #f2f2f2;
  --grey2: #d9d9d9;
  --lightblue: #deebff;
}

a,
a:visited {
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  /*max-width: 1340px;*/
  max-width: 1400px;
  padding: 0 30px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
}

/* --- Global --- */

h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.125rem;
}

/* --- Margins --- */
.mgtop-2rem {
  margin-top: 2rem;
}

.mgtop-1_5rem {
  margin-top: 1.5rem;
}

.mgtop-1rem {
  margin-top: 1rem;
}

/* --- Header --- */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*height: 96px;*/
  /*background-color: red;*/
  flex-wrap: wrap;
}

.logo {
  /*height: 100%;*/
  /*width: 80px;*/
  /*margin-top: 35px;*/
  /*background-color: yellow;*/
  align-self: center;
  margin-top: -5px;
}

.logo img {
  height: 20px;
  /*background-color: green;*/
  /*width:auto;*/
}

nav {
  height: 96px;
  /*background-color: green;*/
  display: flex;
  font-weight: 500;
}

nav div {
  display: flex;
  align-items: center;
}

nav a {
  position: relative;
  padding: 0px 32px 0px 32px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
}

nav > div > a:after {
  /* pseudo-element (absolute in a relative div) */
  content: "";
  position: absolute;
  background-color: var(--blue);
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 2px;
}

nav > div > a:hover {
  /*width: 100%;*/
  color: var(--blue);
}

nav > div > a:hover:after {
  /*width: 100%;*/
  display: block;
}

/* --- filters Section --- */

.filter__button {
  /*margin-left: 2rem; use gap on parent instead */
  border: 2px solid var(--grey2);
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  padding: 10px 20px;
  border-radius: 25px;
}

.filter__bar {
  /*background-color: green;*/
  /*height: 48px;*/
  display: flex;
  margin-top: 2rem;
  font-weight: 700;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.filter__text {
  display: flex;
  align-items: center;
}

.filter__button:hover {
  background-color: var(--lightblue);
}

.btn-icon,
.btn-text {
  background-color: var(--blue);
  color: #fff;
  font-weight: 700;
  padding: 0px 24px 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  letter-spacing: 0.5px;
}

.btn-icon {
  display: none;
}

#infoBar {
  display: flex;
  line-height: 2rem;
  margin-top: 2rem;
}

/* --- searchResults Section --- */

.rentals {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rentals__container {
  padding: 40px 40px 40px 40px;
  width: 880px;
  background-color: var(--grey);
  border-radius: 20px;
}

.rental__cardscontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*background-color: red;*/
  justify-content: space-between;
  row-gap: 32px;
  margin-top: 24px;
  /*padding:0px 32px 0px 32px;*/
}

.rentalcard {
  background-color: #fff;
  width: 246px;
  border-radius: 20px;
  height: 200px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
}

.rentalcard__heading {
  margin: 6px 0 0 16px;
  font-size: 1rem;
  font-weight: 700;
}

.rentalcard__subheading {
  margin: 6px 0 0 16px;
  font-size: 0.875rem;
  font-weight: 400;
}

.euro-semibold {
  font-weight: 600;
}

/*improvements*/
.rentalcard:hover {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
}
/*end*/

.rentalcard__img {
  width: 100%;
  height: 124px;
  border: 5px solid #fff;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.rental__stars__container {
  display: flex;
  height: 12px;
  gap: 2px;
  margin: 8px 0 0 16px;
}

.card__star {
  height: 12px;
  width: auto;
}

.popular {
  padding: 40px 40px 40px 40px;
  width: 420px;
  background-color: var(--grey);
  border-radius: 20px;
}

.popular__cardscontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*background-color: red;*/
  justify-content: space-between;
  row-gap: 32px;
  margin-top: 24px;
  /*padding:0px 32px 0px 32px;*/
}

.popularcard {
  display: flex;
  background-color: #fff;
  width: 340px;
  border-radius: 20px;
  height: 144px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.popularcard__img {
  height: 100%;
  width: 136px;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 20px 0px 0px 20px;
}

.popular__stars__container {
  display: flex;
  height: 12px;
  gap: 2px;
  margin: auto 0 0 16px;
}

/*-- activities --*/

.activities {
  margin-top: 60px;
}

.activities__cardscontainer {
  display: flex;
  /*background-color: #0065FC;*/
  justify-content: space-between;
  margin-top: 24px;
  flex-wrap: wrap;
}

.activities__card {
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 444px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  /*box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);*/
}

.activities__card__img {
  width: 100%;
  height: 388px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activities__card__heading {
  width: 100%;
  height: 56px;
  border-radius: 0px 0px 20px 20px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 0 0 16px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0 48px 80px;
  column-gap: 224px;
  margin-top: 64px;
  background-color: var(--grey);
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .popular {
    padding: 32px 24px 48px 24px;
    border-radius: 0;
    width: 100%;
  }

  .popular__cardscontainer {
    row-gap: 16px;
  }

  .popularcard {
    width: 100%;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
  }

  .filter-container {
    padding: 0 24px 0 24px;
  }

  .filter__bar {
    margin-top: 32px;
    gap: 20px 16px;
  }

  .filter__text {
    width: 100%;
  }

  .filter__button {
    margin: 0;
    padding: 12px 12px;
    /*flex-grow: 1;*/
    width: calc(50% - 10px);
    font-size: 12px;
  }

  .btn-icon {
    display: flex;
  }

  .btn-text {
    display: none;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  nav {
    margin-top: 24px;
    height: 64px;
    width: 100%;
  }

  nav div {
    width: 50%;
    display: flex;
    align-content: center;
  }

  nav a {
    display: flex;
    justify-content: center;
  }

  nav > div > a:after {
    top: 64px;
    height: 3px;
    display: block;
  }

  #infoBar img {
    align-self: flex-start;
    margin-top: -3px;
  }

  #infoBar {
    line-height: 1.25rem;
  }

  .rentals {
    flex-direction: column-reverse;
  }

  .rentals__container {
    padding: 32px 24px 40px 24px;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
  }

  .rental__cardscontainer {
    flex-direction: column;
    row-gap: 16px;
  }

  .rentalcard {
    width: 100%;
    filter: drop-shadow(0px 3px 9px rgba(0, 0, 0, 0.15));
  }
}
