/* TODO shorthand padding margin
elever les divers autour des <a> dans nav
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

:root {
  --blue: #0065fc; /* vars */
  --grey: #f2f2f2;
  --grey2: #d9d9d9;
  --lightblue: #deebff;
}

a,
a:visited {
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  /*max-width: 1340px;*/
  max-width: 1400px;
  padding: 0 30px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
}

/* --- Global --- */

h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.125rem;
}

/* --- Margins --- */
.mgtop-2rem {
  margin-top: 2rem;
}

.mgtop-1_5rem {
  margin-top: 1.5rem;
}

.mgtop-1rem {
  margin-top: 1rem;
}

/* --- Header --- */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  align-self: center;
  margin-top: -5px;
}

.logo img {
  height: 20px;
}

nav {
  height: 96px;
  display: flex;
  font-weight: 500;
}

nav div {
  display: flex;
  align-items: center;
}

nav a {
  position: relative;
  padding: 0px 32px 0px 32px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
}

nav > div > a:after {
  /* pseudo-element (absolute in a relative div) */
  content: "";
  position: absolute;
  background-color: var(--blue);
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 2px;
}

nav > div > a:hover {
  color: var(--blue);
}

nav > div > a:hover:after {
  display: block;
}

/* --- filters Section --- */

.filter__button {
  border: 2px solid var(--grey2);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 25px;
}

.filter__bar {
  display: flex;
  margin-top: 2rem;
  font-weight: 700;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
}

.filter__text {
  display: flex;
  align-items: center;
}

.filter__button:hover {
  background-color: var(--lightblue);
}

.btn-icon,
.btn-text {
  background-color: var(--blue);
  color: #fff;
  font-weight: 700;
  padding: 0px 24px 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  letter-spacing: 0.5px;
}

.btn-icon {
  display: none;
}

#infoBar {
  display: flex;
  line-height: 2rem;
  margin-top: 2rem;
}

/* --- searchResults Section --- */

.rentals {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
  flex-wrap: nowrap;
  row-gap: 56px;
}

.rentals__container {
  padding: 40px 40px 40px 40px;
  width: 880px;
  background-color: var(--grey);
  border-radius: 20px;
}

.rental__cardscontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 32px;
  margin-top: 24px;
}

.rental__cardscontainer a {
  flex: 1 0;
  min-width: 246px;
  max-width: 600px;
  height: 200px;
}

.rentalcard {
  background-color: #fff;
  border-radius: 20px;
  height: 100%;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  /*flex: 1 0;*/
  /*min-width: 246px;
  max-width: 600px;*/
  /*width: 100%;*/
  display: flex;
  flex-direction: column;
}

.rentalcard__heading {
  margin: 6px 0 0 16px;
  font-size: 1rem;
  font-weight: 700;
}

.rentalcard__subheading {
  margin: 6px 0 0 16px;
  font-size: 0.875rem;
  font-weight: 400;
}

.euro-semibold {
  font-weight: 600;
}

/*improvements*/
.rentalcard:hover,
.popular__card:hover,
.activities__card:hover {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
}
/*end*/

.rentalcard__img {
  width: 100%;
  height: 124px;
  border: 5px solid #fff;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.rental__stars__container {
  display: flex;
  height: 12px;
  gap: 2px;
  margin: 8px 0 0 16px;
}

.card__star {
  height: 12px;
  width: auto;
}

.more__rentals {
  display: block;
  margin-top: 40px;
}

.popular {
  padding: 40px 40px 40px 40px;
  background-color: var(--grey);
  border-radius: 20px;
  flex: 1 1 420px;
}

.popular__cardscontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
  column-gap: 30px;
  margin-top: 24px;
  /*padding:0px 32px 0px 32px;*/
}

.popular__cardscontainer a {
  flex: 1 1 340px;
  min-width: 240px;
  height: 144px;
}

.popular__card {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  /*height: 144px;*/
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  /*flex: 1 1 340px;
  min-width: 240px;*/
  /*width: 100%;*/
  height: 100%;
}

.popular__card__img {
  height: 100%;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 20px 0px 0px 20px;
  flex: 0 1 136px;
  max-width: 136px;
}

.popular__card__datascontainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  flex: 0 1 150px;
  min-width: 150px;
  padding-right: 14px;
}

.popular__card__heading {
  margin: 14px 0 0 16px;
  font-size: 1rem;
  font-weight: 700;
}

.popular__card__subheading {
  margin: 6px 0 0 16px;
  font-size: 0.875rem;
  font-weight: 400;
}

.popular__stars__container {
  display: flex;
  height: 12px;
  gap: 2px;
  margin: auto 0 0 16px;
}

/*--
ACTIVITIES----
--*/

.activities {
  margin-top: 60px;
}

h2 br {
  display: none;
}

.activities__cardscontainer {
  display: flex;
  column-gap: 44px;
  margin-top: 24px;
  flex-wrap: nowrap;
}

.activities__card {
  display: flex;
  flex-direction: column;
  flex: 1 1 302px;
  height: 444px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  background-size: cover;
  background-position: center;
}

.activities__card__img {
  width: 100%;
  height: 388px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activities__card__heading {
  display: flex;
  height: 56px;
  width: 100%;
  border-radius: 0px 0px 18px 18px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 700;
  align-items: center;
  padding: 0 0 0 16px;
  margin-top: auto;
}

.bg__image1 {
  background-image: url("../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

.bg__image2 {
  background-image: url("../images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

.bg__image3 {
  background-image: url("../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

.bg__image4 {
  background-image: url("../images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

footer {
  display: flex;
  padding: 48px 0px 48px 80px;
  justify-content: space-between;
  margin-top: 64px;
  background-color: var(--grey);
}

footer ul {
  width: 25%;
}

@media (min-width: 769px) and (max-width: 992px) {
  body {
    padding: 0 56px;
  }

  .activities__card {
    height: 268px;
  }

  footer {
    padding-left: 32px;
  }

  .rentals {
    flex-wrap: wrap;
  }

  .rentalcard {
    flex-grow: 1;
  }

  .popular {
    width: 100%;
  }

  .popular__cardscontainer {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .popular__card__datascontainer {
    min-width: 100px;
  }

  .popular__card__heading {
    font-size: 0.875rem;
  }

  .popular__card__subheading {
    font-size: 0.8125rem;
  }

  .popular__card__img {
    width: 106px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .filter-container {
    padding: 0 24px 0 24px;
  }

  .filter__bar {
    margin-top: 32px;
    gap: 20px 16px;
  }

  .filter__text {
    width: 100%;
  }

  .filter__button {
    margin: 0;
    padding: 12px 12px;
    width: calc(50% - 10px);
    font-size: 12px;
  }

  .btn-icon {
    display: flex;
  }

  .btn-text {
    display: none;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  nav {
    margin-top: 24px;
    height: 64px;
    width: 100%;
  }

  nav div {
    width: 50%;
    display: flex;
    align-content: center;
  }

  nav a {
    display: flex;
    justify-content: center;
  }

  nav > div > a:after {
    top: 64px;
    height: 3px;
    display: block;
  }

  #infoBar img {
    align-self: flex-start;
    margin-top: -3px;
  }

  #infoBar {
    line-height: 1.25rem;
  }

  .rentals {
    flex-direction: column-reverse;
    row-gap: 0px;
  }

  .rentals__container {
    padding: 32px 24px 40px 24px;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
  }

  .rental__cardscontainer {
    flex-direction: column;
    row-gap: 16px;
  }

  .rental__cardscontainer a {
    width: 100%;
    flex: 0 0 200px;
  }

  .rentalcard {
    filter: drop-shadow(0px 3px 9px rgba(0, 0, 0, 0.15));
  }

  .more__rentals {
    display: none;
  }

  .popular {
    padding: 32px 24px 48px 24px;
    border-radius: 0;
    width: 100%;
  }

  .popular__cardscontainer {
    row-gap: 16px;
    flex-wrap: wrap;
  }

  .popular__card__datascontainer {
    flex-grow: 1;
  }

  .popular__card {
    /*width: 100%;*/
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
  }

  .activities {
    padding: 0px 24px 0px 24px;
  }

  .activities__cardscontainer {
    row-gap: 24px;
    flex-direction: column;
  }

  .activities__card {
    height: 190px;
    flex: auto;
    width: 100%;
    filter: drop-shadow(0px 3px 9px rgba(0, 0, 0, 0.15));
  }

  .activities__card__img {
    height: 134px;
  }

  h2 br {
    display: inline;
  }

  footer {
    margin-top: 80px;
    row-gap: 40px;
    flex-direction: column;
  }

  footer ul {
    width: 100%;
  }
}
